$f-family-main: 'Open Sans', sans-serif;
$f-family-secondary: 'Quattrocento Sans', sans-serif;
$f-size-main: 14px;
$f-weight-main: 400;
$f-weight-bold: 700;
$f-lheight-main: 18px;

$color-main: black;
$color-reverse: white;
$color-secondary: #23b7a4;
$color-additional: #8d8f92;
$color-additional-light: #ccd0d7;
$color-additional-dark: #292f36;
$color-bg-dark: #3a454d;
$color-bg-black: #1d2126;
$color-bg-blue: #e1e6ea;
$color-overlay-dark: #08090a;
$color-overlay: #d4dade;
