<section id="section-1" class="section section-about">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title font-secondary ">we are modest.</h1>
    </header>
    <article class="section-body">
      <div class="section-layout">

        <main class="section-main col-12 col-7m">
          <p class="section-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis
            lacusullamcorper at.
            <br>
            <br> Phasellus sollicitudin ante eros ornare, <span class="bold">sit amet luctus lorem semper</span>. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum
            odio convallis eget. vel sodales arcu vestibulum
          </p>
          <ul class="social">
            <li><a class="social-link social-size" href="#facebook"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="#twitter"><img class="img" src="images/icons/twitter.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="#google"><img class="img" src="images/icons/google.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="#dribble"><img class="img" src="images/icons/dribbble.svg" alt="Not found"></a></li>
            <li><a class="social-link social-size" href="#behance"><img class="img" src="images/icons/behance.svg" alt="Not found"></a></li>
          </ul>
        </main>

        <aside class="section-sidebar col-12 col-5m">
          <ol class="section-list">
            <li>
              <div class="list-body">
                <h2 class="list-title font-secondary">Dedication to the customers</h2>
                <p class="list-description">
                  Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus.
                </p>
              </div>
            </li>
            <li>
              <div class="list-body">
                <h2 class="list-title font-secondary">working closely with our clients</h2>
                <p class="list-description">
                  Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.
                </p>
              </div>
            </li>
            <li>
              <div class="list-body">
                <h2 class="list-title font-secondary">increase happiness</h2>
                <p class="list-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
                </p>
              </div>
            </li>
          </ol>
        </aside>

      </div> 
    </article>
  </div>
</section>