<section id="section-6" class="section section-contact">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title font-secondary">stay in touch.</h1>
    </header>
  </div>
  <article class="section-body">
    <a data-fancybox data-options='{"iframe" : {"css" : {"width" : "100%", "height" : "80%"}}}' href="https://www.google.com/maps/search/?api=1&query=Ahmedabad">
      <figure class="section-media">
        <div class="overlay"></div>
        <div class="img-wrap ratio-13-3">
          <div class="img-content">
            <img class="img" src="images/contact/pic.jpg" alt="not found">
          </div>
        </div>
      </figure>
    </a>

    <div class="container">
      <div class="section-layout">
        <div class="col col-12 col-6m">
          <main class="section-main">
            <h2 class="section-subtitle">
              contact information
            </h2>
            <p class="section-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus sed molestie gravida.<br>
              <br> Cras fermentum elit quis magna congue, <span class="bold">vel sodales</span> arcu vestibulum. Nunc lobortis dui magna, quis dapibus lacus
            </p>
          </main>
        </div>
        <div class="col col-12 col-6m">
          <aside class="section-sidebar">
            <form class="form" action="" method="">
              <div class="form-layout">
                <div class="col-12 col-6s">
                  <div class="form-input">
                    <h2 class="form-subtitle font-secondary">Your Name</h2>
                    <input class="form-style" type="text" autocomplete="on" name="name">
                  </div>
                </div>
                <div class="col-12 col-6s">
                  <div class="form-input">
                    <h2 class="form-subtitle font-secondary">Your Email</h2>
                    <input class="form-style" type="email" autocomplete="on" name="email">
                  </div>
                </div>
                <div class="form-area col-12 form-area-message">
                  <h2 class="form-subtitle font-secondary">Your Message</h2>
                  <textarea class="form-style form-textarea" name="comment"></textarea>
                </div>
                <div class="button-wrap col-12">
                  <a href="#send" class="button button-reverse">Send Message</a>
                </div>
              </div>
            </form>
          </aside>
        </div>

      </div>
    </div>
  </article>
</section>