<section id="section-5" class="section section-features section-reverse">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title title-reverse font-secondary">FEATURES.</h1>
    </header>
    <article class="section-body">
      <div class="grid">
        <div class="col col-12 col-6s col-4m">
          <div class="card card-features">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-3-2">
                  <div class="img-content">
                    <img class="img" src="images/features/1.jpg" alt="not found">
                  </div>
                </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title">
                  Product Design: Eames Chairs
                </h2>
                <p class="card-description">
                  Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-features">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-3-2">
                  <div class="img-content">
                    <img class="img" src="images/features/2.jpg" alt="not found">
                  </div>
                </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title">
                  ELEGANT AND COLORFUL LOGOS
                </h2>
                <p class="card-description">
                  I’ve always found logo design to be one of the most challenging things to get right. There’s so much that a logo can say about a brand without actually saying it.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-features">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-3-2">
                  <div class="img-content">
                    <img class="img" src="images/features/3.jpg" alt="not found">
                  </div>
                </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title">
                  A SHOWCASE OF CREATIVE
                </h2>
                <p class="card-description">
                  It’s always interesting to see another designer’s take on a famous website, app or even physical product. Different designers add their own personality and style.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>

</section>