<div class="header-top">
  <section class="hero">
    <div class="container">
      <div class="hero-layout">
        <div class="hero-textarea">
          <h1 class="hero-title font-secondary col-12">WELCOME TO OUR MARKETPLACE</h1>
          <p class="hero-description col-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus ...
          </p>
        </div>
        <div class="hero-buttons font-secondary">
          <div class="button-wrap col-6">
            <a href="#section-1" class="button button-scroll"><span></span>View more</a>
          </div>
          <div class="button-wrap col-6">
            <a href="#section-6" class="button button-scroll"><span></span>Contact</a>
          </div>
        </div>
      </div>
    </div>
    <figure class="hero-background">
      <img class="img" src="images/hero/pic.jpg" alt="Not found">
    </figure>
    <div class="hero-overlay"></div>
  </section>
</div>