<section id="section-4" class="section section-services">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title font-secondary">what we do.</h1>
    </header>
    <article class="section-body">

      <div class="grid">
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/cogs.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/pencil.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/mobile.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/clock.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/laptop.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/house.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/wallet.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-6 col-3m">
          <div class="card card-services">
            <div class="card-header">
              <figure class="card-media">
                  <div class="img-wrap ratio-2-1">
                    <div class="img-content">
                      <img class="img" src="images/services/users.svg" alt="not found">
                    </div>
                  </div>
              </figure>
            </div>
            <div class="card-body-wrap">
              <div class="card-body">
                <h2 class="card-title font-secondary">
                  Easy theme Setup
                </h2>
                <p class="card-description">
                  Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
                </p>
              </div>
            </div>
          </div>
        </div>

      
      </div>

    </article>
  </div>
</section>