<section id="section-2" class="section section-team">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title font-secondary">meet the team.</h1>
    </header>
    <article class="section-body">
      <div class="grid">
        <div class="col col-6 col-3m">
          <div class="card card-team">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-5-6">
                  <div class="img-content">
                    <img class="img" src="images/team/1.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <ul class="social">
                  <li><a class="social-link social-size" href="#facebook"><img class="img" src="images/icons/twitter.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#twitter"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#google"><img class="img" src="images/icons/linkedin.svg" alt="Not found"></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title font-secondary">
                Gloria Bromley
              </h2>
              <p class="card-subtitle">
                CEO and Founder
              </p>
            </div>
          </div>
        </div>

        <div class="col col-6 col-3m">
          <div class="card card-team">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-5-6">
                  <div class="img-content">
                    <img class="img" src="images/team/2.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <ul class="social">
                  <li><a class="social-link social-size" href="#facebook"><img class="img" src="images/icons/twitter.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#twitter"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#google"><img class="img" src="images/icons/linkedin.svg" alt="Not found"></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title font-secondary">
                PAUL TORRES
              </h2>
              <p class="card-subtitle">
                Head of Development
              </p>
            </div>
          </div>
        </div>

        <div class="col col-6 col-3m">
          <div class="card card-team">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-5-6">
                  <div class="img-content">
                    <img class="img" src="images/team/3.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <ul class="social">
                  <li><a class="social-link social-size" href="#facebook"><img class="img" src="images/icons/twitter.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#twitter"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#google"><img class="img" src="images/icons/linkedin.svg" alt="Not found"></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title font-secondary">
                JUDITH GILLETTE
              </h2>
              <p class="card-subtitle">
                Graphic Desinger
              </p>
            </div>
          </div>
        </div>

        <div class="col col-6 col-3m">
          <div class="card card-team">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-5-6">
                  <div class="img-content">
                    <img class="img" src="images/team/4.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <ul class="social">
                  <li><a class="social-link social-size" href="#facebook"><img class="img" src="images/icons/twitter.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#twitter"><img class="img" src="images/icons/facebook.svg" alt="Not found"></a></li>
                  <li><a class="social-link social-size" href="#google"><img class="img" src="images/icons/linkedin.svg" alt="Not found"></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <h2 class="card-title font-secondary">
                DELORES REED
              </h2>
              <p class="card-subtitle">
                Client Service Director
              </p>
            </div>
          </div>
        </div>

      </div>

    </article>
  </div>
</section>