<section id="section-3" class="section section-work section-reverse">
  <div class="container">
    <header class="section-header">
      <h1 class="section-title title-reverse font-secondary">lovely work.</h1>
    </header>
    <article class="section-body">

      <div class="grid">

        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/1.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/1.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/1.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    partnership guidelines
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/2.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/2.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/2.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    lovely skatepark
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/3.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/3.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/3.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    desert road
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/4.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/4.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/4.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    bay area
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/5.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/5.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/5.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    picturesque hill
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m">
          <div class="card card-work">
            <div class="card-header">
              <figure class="card-media">
                <div class="img-wrap ratio-4-3">
                  <div class="img-content">
                    <img class="img" src="images/work/6.jpg" alt="not found">
                  </div>
                </div>
              </figure>
              <div class="card-overlay"></div>
              <div class="card-foreground">
                <a data-fancybox="gallery" href="images/work/6.jpg" class="card-foreground-body">
                  <figure class="figure-plus">
                    <img class="fancybox-thumbnail" src="images/work/6.jpg" alt="plus">
                    <img class="img" src="images/icons/plus.svg" alt="plus">
                  </figure>
                </a>
                <div class="card-foreground-footer">
                  <h2 class="card-title font-secondary">
                    sunny sea port
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-6s col-4m display-toggle hidden visuallyhidden">
            <div class="card card-work">
              <div class="card-header">
                <figure class="card-media">
                  <div class="img-wrap ratio-4-3">
                    <div class="img-content">
                      <img class="img" src="images/work/3.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
                <div class="card-overlay"></div>
                <div class="card-foreground">
                  <a data-fancybox="gallery" href="images/work/3.jpg" class="card-foreground-body">
                    <figure class="figure-plus">
                      <img class="fancybox-thumbnail" src="images/work/3.jpg" alt="plus">
                      <img class="img" src="images/icons/plus.svg" alt="plus">
                    </figure>
                  </a>
                  <div class="card-foreground-footer">
                    <h2 class="card-title font-secondary">
                      country road
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-12 col-6s col-4m display-toggle hidden visuallyhidden">
            <div class="card card-work">
              <div class="card-header">
                <figure class="card-media">
                  <div class="img-wrap ratio-4-3">
                    <div class="img-content">
                      <img class="img" src="images/work/1.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
                <div class="card-overlay"></div>
                <div class="card-foreground">
                  <a data-fancybox="gallery" href="images/work/1.jpg" class="card-foreground-body">
                    <figure class="figure-plus">
                      <img class="fancybox-thumbnail" src="images/work/1.jpg" alt="plus">
                      <img class="img" src="images/icons/plus.svg" alt="plus">
                    </figure>
                  </a>
                  <div class="card-foreground-footer">
                    <h2 class="card-title font-secondary">
                      sky trips
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-12 col-6s col-4m display-toggle hidden visuallyhidden">
            <div class="card card-work">
              <div class="card-header">
                <figure class="card-media">
                  <div class="img-wrap ratio-4-3">
                    <div class="img-content">
                      <img class="img" src="images/work/4.jpg" alt="not found">
                    </div>
                  </div>
                </figure>
                <div class="card-overlay"></div>
                <div class="card-foreground">
                  <a data-fancybox="gallery" href="images/work/4.jpg" class="card-foreground-body">
                    <figure class="figure-plus">
                      <img class="fancybox-thumbnail" src="images/work/4.jpg" alt="plus">
                      <img class="img" src="images/icons/plus.svg" alt="plus">
                    </figure>
                  </a>
                  <div class="card-foreground-footer">
                    <h2 class="card-title font-secondary">
                      boat excursions
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

    </article>
    <footer class="section-footer">
        <div class="button-wrap">
          <a href="#show me more" class="button button-expand">
            <figure class="button-icon">
              <img class="img icon-rotate" src="images/icons/arrow-down.svg" alt="Not found">
            </figure>
            <div class="button-text">
              Show me more
            </div>
          </a>
        </div>
    </footer>
  </div>
</section>